#!/usr/bin/make -f
#
# This is free software; see the GNU General Public Licence
# version 2 or later for copying conditions.  There is NO warranty.

%:
	dh $@ --with autoreconf --parallel

override_dh_autoreconf:
	./autogen.sh

configure_flags += \
    --prefix=/opt/szn/freetype \
    --enable-freetype-config \
    --with-pic \
    --enable-shared=yes \
    --enable-static=yes \
    --with-png=yes

override_dh_auto_configure:
	dh_auto_configure -- $(configure_flags)
